third-party/glm
build/
.vs/ray/FileContentIndex/5464b729-2e15-43c7-8529-e055c35e8fa3.vsidx
.vs/ray/FileContentIndex/99b0c753-919f-454b-aa77-aa1ab4636dee.vsidx
.vs/ray/FileContentIndex/d92c4458-a8bf-41ab-8b6b-2970a770d3fe.vsidx
.vs/ray/FileContentIndex/read.lock
.vs/ProjectSettings.json
.vs/ray/FileContentIndex/b571618c-67e2-41ad-965f-c988b7a63f21.vsidx
.vs/ray/FileContentIndex/e0334ba9-af35-4a87-9ea6-ae8c6e7db42d.vsidx
.vs/ray/v17/.wsuo
.vs/ray/v17/Browse.VC.db
.vs/ray/v17/Browse.VC.db-wal
.vs/ray/v17/ipch/AutoPCH/1403df0bdc3fc416/RAYTRACER.ipch
.vs/ray/v17/Browse.VC.opendb
.vs/slnx.sqlite
.vs/ray/v17/Browse.VC.db-shm
.vs/ray/FileContentIndex/3e9cbd05-cfc1-4911-89b7-2b2c25acfc78.vsidx
.vs/ray/FileContentIndex/8078fc98-6794-4ac3-a90e-11f2faab0258.vsidx
*.vsidx
.vs/CMake Overview
.vs/ray/v17/ipch/AutoPCH/b717a77a4cb8f8a6/MATERIAL.ipch
.vs/VSWorkspaceState.json
.vs/ray/v17/ipch/AutoPCH/f9d4b00911204f73/LIGHT.ipch
.vs/ray/v17/ipch/AutoPCH/b63792c564bd86b1/PARSER.ipch
.vs/ray/v17/ipch/AutoPCH/d71524a25bad0a3f/SCENE.ipch
.vs/ray/v17/ipch/AutoPCH/9d2401d8a4e114ce/MAIN.ipch
.vs/ray/v17/ipch/AutoPCH/1a9460c71ae9845a/FWD.ipch
.vs/ray/v17/ipch/AutoPCH/1a9460c71ae9845a/FWD.ipch
.vs/ray/v17/ipch/AutoPCH/1a9460c71ae9845a/FWD.ipch
*.ipch
submission/